services:
  e2e:
    image: mcr.microsoft.com/playwright:v1.58.2-noble
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CI=true
    command: >
      sh -c "npm install && npx playwright test
      --project=visual-desktop --project=visual-tablet --project=visual-mobile"
    network_mode: host

  e2e-update-snapshots:
    image: mcr.microsoft.com/playwright:v1.58.2-noble
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CI=true
    command: >
      sh -c "npm install && npx playwright test
      --project=visual-desktop --project=visual-tablet --project=visual-mobile
      --update-snapshots"
    network_mode: host
